.mainContainer {
  display: flex;
  background-color: #1a1e1c;
  overflow: hidden;
}

.sidebar {
  background-color: #1a1e1c;
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 18vw;
  padding: 20px;
  padding-top: 50px;
}

.sidebarClose {
  background-color: #1a1e1c;
  position: static;
  display: flex;
  gap: 0;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 2vw;
  padding: 20px;
  padding-top: 0;
}

.sidebarClose .profileCardContainer {
  border: none;
}
.sidebarClose > .appLogo {
  padding-bottom: 0;
}

.appLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8%;
}
.sidebarClose > .link {
  padding: 0;
  margin: 0;
  gap: 0px;
}
.sidebarClose > .link > .icon {
  padding: 0;
}
.link {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 1.1% 0%;
  margin: 3% 0%;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  gap: 20px;
  &:hover {
    color: #237224;
    border-radius: 8px;
    font-weight: 600;
  }
}

.secondLink {
  padding-top: 40px;
}

.icon {
  padding-top: 1%;
}

.cardStyle {
  height: 30%;
  width: 80%;
  background: #f5dbda;
  border-radius: 20px;
  margin: auto;
  margin-top: 8%;
}

.cardContainer {
  padding: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #3a335d;
}
.adviceText {
  font-size: 16px;
  font-weight: 600;
}
.expertText {
  font-size: 14px;
  font-weight: 400;
  padding-top: 3%;
}

.btnStyle {
  width: 100%;
  height: 31px;
  border-radius: 20px;
  background: #3a335d;
  border-style: none;
  margin-top: 10%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.imageStyle {
  margin-top: 2%;
}
.searchContainer {
  padding-top: 10px;
  padding-bottom: 20px;
}

.profileCardContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 20px 10px;
}
.nameCont {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.SidebarMob {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .sidebar,
  .sidebarClose {
    display: none;
  }

  .SidebarMob {
    display: flex;
    flex-direction: column;
    width: 100%;

    overflow-y: auto;
  }
  .appLogo {
    padding: 20px;
  }

  .extCont {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1a1e1c;
    height: 100vh;

    z-index: 999;
  }
  .extCont .appLogo {
    padding: 0;
  }
  .profileCardContainer {
    margin: 0;
  }
  .secondLink {
    padding: 0;
  }
}
